.header-div{
    background-color: #0076B5; 
}

header div.lado-direito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    gap: 20px;
    justify-content: flex-end;
    list-style-type: none;
}

header {
    display: flex;
    height: 90px;
    align-items: center;
    max-width: 970px;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px auto;
    gap: 70px;
}

header a{
    text-decoration: none;
    color: #000000;
}

header img{
    height: 150px;
    width: 150px;
    align-items: flex-start;
}


header nav{
    flex-grow: 1;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

header nav ul li{
    list-style-type: none;
}
header nav ul li a {
    padding: 10px;
}

header nav ul li a:hover{
    padding: 10px;
    background-color: #1a2270;
    color: #fff;
    border-radius: 15%;
}

.login{
    background-color: #449AB9;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    color: #fff;
    width: 80px;
    height: 30px;
}

.cadastro{
    background-color: #777686;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    color: #000000;
    width: 100px;
    height: 30px;
}