.section-1 {
    flex-direction: column;
    max-height: 970px;
    background-color: #CAE8F8;
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
}
section div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
section img {
    border-radius: 60px;
    max-height: 250px;
}

section h1{
    color: rgb(49, 45, 45);
}

.section-1 p{
    text-align: center;
    font-size: 30px;
}
.botao-inicio {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    width: 620px;
}

.botao-inicio a{
    text-decoration: none;
    padding: 15px;
    width: 150px;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: #449AB9;
    display: flex;
    justify-content: center;
}
.section-2 {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.section-2 .servicos-populares h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.section-2 h2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 150px;
}


.section-2 .posicao-servicos div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.section-2 .posicao-servicos {
    flex-direction: row;
}


.section-2 p{
    font-size: 20px;
}

.section-2 .botao-mostrar-mais {
    width: 200px;
    justify-content: center;
    align-items: flex-end;
    height: 800px;
    border-radius: 50px;
}

.section-2 .botao-mostrar-mais a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #1A4E69;
    border-radius: 50px;
    padding: 10px;
}

.section-2 .posicao-mostrar {
    flex-direction: column;
    max-height: 100px;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
}

footer {
    align-items: center;
    background-color: #449AB9;
}