section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #184258;
    height: 100vh;

}

section .login-posicao {
    flex-direction: column;
    display: flex;
    align-items: center;
}

section .login-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    gap: 20px;
}

section .login-form h1 {
    display: flex;
    justify-content: center;
    color: #ffff;
    margin-top:15px;

}

section .login-form {
    background-color: #0076B5;
    height: 300px;
    border-radius: 10px;
    
}

section .login-form div {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

section .login-form div form {
    display: flex;
    height: 10px;
    width: 10px;
}

section .login-form input {
    border-style: none;
    border-radius: 5px;
    width: 340px;
    height: 40px;
    background-color: #0E3043;
    padding: 15px;
    color: #ffff;
}

section .login-form label {
    font-style: italic;
}

section .login-form button {
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 250px;
    height: 30px;
    border-style: none;
    color: #063150;   
}

section .login-form a {
    text-decoration: none;
}

section button:hover{
    color: white;
    background-color: #030516;
    color: #fff;
    border-radius: 10px;
}