section div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section img {
    border-radius: 60px;
    max-height: 250px;
}

section h1{
    color: rgb(49, 45, 45);
}

.section-1-servicos {
    display: flex;
    flex-direction: column;
    height: 380px;
    background-color: #CAE8F8;
}

.section-1-servicos .nossos-servicos h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.section-1-servicos h2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 150px;
}


.section-1-servicos .posicao-servicos div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.section-1-servicos .posicao-servicos {
    display: flex;
    flex-direction: row;

}


.section-1-servicos p{
    font-size: 20px;
}

.section-2-servicos {
    display: flex;
    flex-direction: column;
    height: 420px;
    background-color: #ffffff;
}

.section-2-servicos .nossos-servicos h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.section-2-servicos h2 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 150px;
}


.section-2-servicos .posicao-servicos div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.section-2-servicos .posicao-servicos {
    flex-direction: row;
    justify-content: space-evenly;
}


.section-2-servicos p{
    font-size: 20px;
}
