.header-cadastro {
  background-color: #0076B5;
  max-width: 100%;
}

header div.container-header {
  width: 2000px;
  display: flex;
  align-items: center;
}

header img {
  height: 150px;
  width: 150px;
  align-items: flex-start;
}

.login-botao{
  background-color: #449AB9;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  width: 80px;
  height: 30px;
}

header .login-botao a:hover{
  background-color: #449AB9;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  color: white;
  width: 90px;
  height: 30px;
  transition: 0.5s;
  transform: scale(1.1);
}

section {
  display: flex;
  justify-content: center;
  background-color: #184258;
  height: 100vh;
}

section .cadastro-posicao {  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

section .cadastro-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  gap: 5px;
}

section .cadastro-posicao h2 {
  display: flex;
  justify-content: center;
  color: #ffff;
  margin-top:25px;

}

section .cadastro-posicao span {
  color: #ffffff;
  padding: 30px;
}

section .cadastro-posicao h2 strong{
  display: flex;
  margin-left: 5px;
  color: rgb(123, 197, 247);
}

section .cadastro-form {
  background-color: #0076B5;
  height: 470px;
  border-radius: 10px;
}

section .cadastro-form div {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

section .cadastro-form div form {
  display: flex;
  height: 10px;
  width: 10px;
}

section .cadastro-form input {
  border-style: none;
  border-radius: 5px;
  width: 340px;
  height: 40px;
  background-color: #0E3043;
  padding: 15px;
  color: #ffff;
}

section .cadastro-form label {
  font-style: italic;
}

section .cadastro-form button {
  border-radius: 10px;
  background-color: #D9D9D9;
  width: 250px;
  height: 30px;
  border-style: none;
  color: #063150; 
  margin-top: 20px;
}

section button:hover{
  color: white;
  background-color: #030516;
  color: #fff;
  border-radius: 10px;
  transition: 0.5s;
}

#cadastro-sucesso {
  display: none;
  color: white;
  font-size: 14px;
  margin: 10px;

}

section h1 {
  margin: 10px;
  align-items: center;
}